html, body {
   
    background-image: url(imgs/back.jpg);   
    background-size: cover;
    background-position: center; 
    overflow-y: auto;
    height: 100vh;
}
.svg {
    align-items: center;
}
.form-container {
    max-width: 400px;
    padding: 1rem;
}
.darkMode {
    background: white;
    color: #292929;
   
    background-image: url(imgs/back.jpg);
    background-size: cover;
    background-position: center;    
}
#themeToggle{
    cursor: pointer;
    font-size: 20px;
}
#goToButton {
    cursor: pointer;
    font-size: 20px;
}

#logo {
    width: 400px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
p {
    color: white;
    font-size: 12px;
}


#checkIcon {
    color: rgb(0, 255, 200) !important;
    font-size: 50px;
}

header.top {
    width: 100%;
}


.container.text-center {
    padding-top: 5px;
}

.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-3d {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-3d:hover {
    transform: scale(1.05) rotateY(10deg) rotateX(5deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.container {
    padding-top: 50px; 
    padding-bottom: 50px; 
}

/* Animação de loading */

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
   
}
.spinner-border {
    width: 6rem;
    height: 6rem;
    
}

.d-none {
    display: none;
}

/* Cards página de admins */

.card-img-top {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

#goToUsers {
    cursor: pointer;
    font-size: 20px;
}

.card-full-width {
    width: 100%;
}

.icon-container {
    gap: 10px;
    font-size: 2rem; /* Ajuste este valor conforme necessário */
}
