html, body {
   
    background-image: url(imgs/back.jpg);   
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    height: 100vh;
}
.svg {
    align-items: center;
}
.form-container {
    max-width: 400px;
    padding: 1rem;
}
.darkMode {
    background: white;
    color: #292929;
   
    background-image: url(imgs/back.jpg);
    background-size: cover;
    background-position: center;    
}
#themeToggle{
    cursor: pointer;
    font-size: 20px;
}
#goToButton {
    cursor: pointer;
    font-size: 20px;
}

#logo {
    width: 400px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
p {
    color: white;
    font-size: 12px;
}


#checkIcon {
    color: rgb(0, 255, 200) !important;
    font-size: 50px;
}

/* Adicione isso ao seu arquivo CSS */

@keyframes loginAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.8);
      opacity: 0.6;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
  .login-animating {
    animation: loginAnimation 0.6s forwards;
  }
  /* body {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

header.top {
    width: 100%;
}


.container.text-center {
    padding-top: 5px;
}

.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-3d {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-3d:hover {
    transform: scale(1.05) rotateY(10deg) rotateX(5deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.container {
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
   
}
.spinner-border {
    width: 2rem;
    height: 2rem;
    
}

.d-none {
    display: none;
}

.card-img-top {
    height: 100;
    width: 100;
}

#goToUsers {
    cursor: pointer;
    font-size: 20px;
}

.card-full-width {
    width: 100%;
}
